<div class="row mt-5 mb-4 pt">
  <div class="text-center col-12">
      <h2>Mon profil</h2>
  </div>
</div>

<div class="row pb-5">
  <div class="col-4 colInfoLeft">
    <p class="m-auto p-2 info"><span>Identifiant de connexion : </span>{{ usernameTeammate }}</p>
    <p class="m-auto p-2 info"><span>Mot de passe : </span>**********</p>
  </div>
  <div class="col-4 colInfoLeft">
    <p class="m-auto p-2 info"><span>Nom : </span>{{ firstNameTeammate }}</p>
    <p class="m-auto p-2 info"><span>Prénom : </span> {{ lastNameTeammate }}</p>
    <p class="m-auto p-2 info"><span>Téléphone : </span> {{ phoneTeammate }}</p>
    <p class="m-auto p-2 info"><span>Mail : </span> {{ mailTeammate }}</p>
  </div>
  <div class="col-4 colInfoLeft">
    <p class="m-auto p-2 info"><span>Status : </span> {{ statusTeammate }}</p>
    <p class="m-auto p-2 info"><span>Job : </span> {{ jobTeammate }}</p>
    <p class="m-auto p-2 info"><span>Agence de dépendance : </span>{{ nameAgency }}</p>
  </div>

  <div class="row m-auto lineButton">
    <button class="mr-2">Modifier le mot de passe</button>
    <button class="ml-2">Modifier mes informations</button>
  </div>
</div>

