<app-photo
  *ngIf="carStatus === 'etape2'"
  [carStatus]="carStatus"
  [statusBooking]="statusBooking"
  (result)="onResult($event)"
></app-photo>

<app-video
  *ngIf="carStatus === 'etape3'"
  [carStatus]="carStatus"
  [statusBooking]="statusBooking"
  (result)="onResult($event)"
></app-video>

<div class="row mt-5 mb-5 pt">
  <div class="text-center col-9">
    <h2>Rendez-vous de {{ firstNameCustomer }} {{ lastNameCustomer }}</h2>
  </div>
  <div class="text-right col-3">
    <button style="font-size: 12px" class="btn-danger" routerLink="/list-rdv">
      Retour à la liste
    </button>
  </div>
</div>

<div class="row mb-5">
  <div class="col-3 text-center m-auto">
    <div class="m-auto">
      <h3 class="m-0">Status de la prise en charge</h3>
    </div>
  </div>
  <div class="col-4 text-center m-auto">
    <div class="m-auto">
      <p class="status m-0">{{ statusBooking }}</p>
    </div>
  </div>
  <div class="col-4 text-center m-auto">
    <div class="m-auto" *ngIf="carStatus === 'etape1'">
      <button (click)="onSwitchEtape2()">Prendre en charge la voiture</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape2'">
      <button (clcik)="onSwitchEtape3()">Photo</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape3'">
      <button (clcik)="onSwitchEtape4()">Vidéo</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape4'">
      <p class="status m-0">Faut-il rajouter des photos ?</p>
      <button (clcik)="onSwitchEtape5Photo()">Oui</button>
      <button (clcik)="onSwitchEtape5()">Non</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape5'">
      <p class="status m-0">Faut-il rajouter une procuration ?</p>
      <button (clcik)="onSwitchEtape6Procuration()">Oui</button>
      <button (clcik)="onSwitchEtape6()">Non</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape6'">
      <button (clcik)="onSwitchEtape7()">Etablir la fiche</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape7'">
      <button (clcik)="onSwitchEtape8()">Arriver chez le garagiste</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape8'">
      <button (clcik)="onSwitchEtape9()">Vidéo</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape9'">
      <p class="status m-0">Faut-il rajouter des photos ?</p>
      <button (clcik)="onSwitchEtape10Photo()">Oui</button>
      <button (clcik)="onSwitchEtape10()">Non</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape10'">
      <button (clcik)="onSwitchEtape11()">Etablir la fiche</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape16'">
      <button (clcik)="onSwitchEtape17()">Prendre en charge le véhicule</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape17'">
      <button (clcik)="onSwitchEtape18()">Vidéo</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape18'">
      <p class="status m-0">Faut-il rajouter des photos ?</p>
      <button (clcik)="onSwitchEtape19Photo()">Oui</button>
      <button (clcik)="onSwitchEtape19()">Non</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape19'">
      <button (clcik)="onSwitchEtape20()">Etablir la fiche</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape20'">
      <button (clcik)="onSwitchEtape21()">Arriver chez le client</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape21'">
      <button (clcik)="onSwitchEtape22()">Voir la carte d'identité</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape22'">
      <button (clcik)="onSwitchEtape23()">Vidéo</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape23'">
      <p class="status m-0">Faut-il rajouter des photos ?</p>
      <button (clcik)="onSwitchEtape24Photo()">Oui</button>
      <button (clcik)="onSwitchEtape24()">Non</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape24'">
      <p class="status m-0">Faut-il rajouter des frais ?</p>
      <button (clcik)="onSwitchEtape25Frais()">Oui</button>
      <button (clcik)="onSwitchEtape25()">Non</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape25'">
      <button (clcik)="onSwitchEtape26()">Etablir la fiche</button>
    </div>
    <div class="m-auto" *ngIf="carStatus === 'etape26'">
      <button (clcik)="onSwitchEtape27()">Valider la restitution</button>
    </div>
  </div>
</div>

<div class="row pb">
  <div class="col-4 colInfoLeft">
    <h3 class="text-center">Information du client</h3>
    <div class="row">
      <div class="col-12">
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Nom : </span>{{ firstNameCustomer }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Prénom : </span>{{ lastNameCustomer }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Adresse mail : </span> {{ mailCustomer }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Téléphone : </span> {{ phoneCustomer }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 colInfoLeft">
    <h3 class="text-center">Information véhicule</h3>
    <div class="row">
      <div class="col-12">
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Plaque d'immatriculation : </span>{{ licensePlateCar }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Marque : </span>{{ brandCar }}</p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Modèle : </span> {{ modelCar }}</p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Motorisation : </span> {{ motorizationCar }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Date de première mise en circulation : </span>
            {{ dateOfCirculationCar }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 colInfoRight">
    <h3 class="text-center">Information du Rendez-vos</h3>
    <div class="row">
      <div class="col-12">
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Date et heure de prise en charge : </span>{{ dateForth }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Adresse de prise en charge : </span>
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info">
            <span>Date et heure de restitution : </span> {{ dateBack }}
          </p>
        </div>
        <div class="m-auto">
          <p class="m-auto p-2 info"><span>Adresse de restitution : </span></p>
        </div>
      </div>
    </div>
  </div>
</div>
