button {
  font-family: "Megante";
  background-color: #ef7b15;
  text-transform: uppercase;
  border-radius: 50px;
  border: #ef7b15 1px solid;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s ease;
  color: white;
}

button:hover {
  background-color: #ef7b15;
  border: #ef7b15 1px solid;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:active,
button:focus,
button:visited {
  background-color: #ef7b15;
  border: #ef7b15 1px solid;
}

h2 {
  font-family: "Quantify";
  color: #ef7b15;
}

.pt {
  padding-top: 30px;
}

p,
a,
button,
h3 {
  font-family: "Megante";
  font-size: 18px;
  font-weight: bold;
}

.status {
  font-size: 26px;
}

span {
  color: #6a6a6a;
  font-size: 14px;
}

.pb {
  padding-bottom: 30px;
}

.colInfoLeft {
  border-right: solid 2px #6a6a6a;
}

.status {
  color: #ef7b15;
  font-weight: bold;
  font-size: 22px;
}

app-photo {
  width: 640px;
}
