<div class="row mt-5 mb-5 pt">
  <div class="text-center col-12">
      <h2>Disponibilité Mouttec</h2>
      <button style="font-size: 15px;" routerLink="/addBooking">Ajouter un rendez-vous</button>
  </div>
</div>
<div class="row mb-5 pl-5">
  <div class="text-left col-2 offset-1">
    <h5>Légende :</h5>
  </div>
  <div class="text-left col-3 d-flex flex-row">
    <p class="legend1 mr-2"></p>
    <p>Contrôle technique</p>
  </div>
  <div class="text-left col-2 d-flex flex-row">
    <p class="legend2 mr-2"></p>
    <p>Trajet simple</p>
  </div>
  <div class="text-left col-3 d-flex flex-row">
    <p class="legend3 mr-2"></p>
    <p>Trajet Aller/Retour</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="button"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        [excludeDays]="excludeDays"
      >
        Précédant
      </div>
      <div
        class="buttonInversion"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Aujourd'hui
      </div>
      <div
        class="button"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        [excludeDays]="excludeDays"
      >
        Suivant
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="buttonInversion"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mensuelle
      </div>
      <div
        class="buttonInversion"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Hebdommadaire
      </div>
      <div
        class="buttonInversion"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Journalier
      </div>
    </div>
  </div>
</div>
<br />

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events" class="pb-5">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [refresh]="refresh"
      (dayClicked)="changeDay($event.day.date)"
      (viewDateChange)="fetchEvents()"
      (viewChange)="fetchEvents()"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [excludeDays]="excludeDays"
      [locale]="locale"
      [dayStartHour]="7"
      [dayStartMinute]="00"
      [dayEndHour]="21"
      [dayEndMinute]="00"
      (beforeViewRender)="beforeWeekViewRender($event)"
      (beforeViewRender)="beforeWeekViewRender2($event)"
      (dayHeaderClicked)="changeDay($event.day.date)"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [dayStartHour]="7"
      [dayStartMinute]="00"
      [dayEndHour]="21"
      [dayEndMinute]="00"
      (beforeViewRender)="beforeWeekViewRender($event)"
      (beforeViewRender)="beforeWeekViewRender2($event)"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-day-view>
  </div>

</div>



